app/config/database.php
app/tmp
/.bundle
/Plugin
/Vendor
/log
/tmp
/.vagrant
/chef-repo/site-cookbooks

/*/tmp/*
/*/Config/database.php
/*/Config/email.php
/vendors/*

/*/*/tmp/*
/*/*/Config/database.php
/*/*/Config/email.php
/*/*/reports
/vendors/*

composer.lock

node_modules/

.DS_Store
*.swp
